<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" href="/site_media/css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
        <link type="text/css" href="/site_media/css/demo_table.css" rel="stylesheet" />
        <link type="text/css" href="/site_media/css/demo_table_jui.css" rel="stylesheet" />	
        <link type="text/css" href="/site_media/css/ui.daterangepicker.css" rel="stylesheet" />
	<script type="text/javascript" src="/site_media/js/jquery.js"></script>
        <script type="text/javascript" src="/site_media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.13.custom.min.js"></script>
        <script type="text/javascript" src="/site_media/js/daterangepicker.jQuery.js"></script>
		<script type="text/javascript">
		$(function(){
			$.datepicker.regional['zh-CN']={
			dateFormat:'yymmdd',
			monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']};
			$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
			$('#querry_time').datepicker();
		});

		</script>
	</head>
	<body>

	<div>
		<fieldset>
			<legend>跟踪</legend>
			<div>
			查询时间：<input id='querry_time' type='text'></input>
			查询范围：<input id='querry_range' />
			<button onClick='querry()''>查询</button>
			<br />
				<div id='results'>
				</div>
			</div>
		</fieldset>
	</div>

		
<script type="text/javascript">
function querry()
{
	var s='/gz/date='+$('#querry_time').val();
	if($('#querry_range').val()!='')
		s+='&&acct_no='+$('#querry_range').val();
	window.open(s);
}
</script>
	</body>
</html>


