<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>中国光大银行南京分行综合收益测算系统</title>
		<link type="text/css" href="/site_media/css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
        <link type="text/css" href="/site_media/css/demo_table.css" rel="stylesheet" />
        <link type="text/css" href="/site_media/css/demo_table_jui.css" rel="stylesheet" />	
        <link type="text/css" href="/site_media/css/ui.daterangepicker.css" rel="stylesheet" />
		<script type="text/javascript" src="/site_media/js/jquery.js"></script>
        <script type="text/javascript" src="/site_media/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.13.custom.min.js"></script>
		<script type="text/javascript">
			$(function(){
				
				$('#tabs').tabs();
				
			});
			
		</script>	
        <style type="text/css">
		div,div input{
			font-size:15px;
		}
		</style>
	</head>
	<body style="width:1024px;margin:0 auto;">
    <h1>中国光大银行南京分行综合收益测算系统</h1>
		<div id="tabs">
			<ul>
            	<li><a href="#tabs-1">测算</a></li>
                <li><a href="#tabs-2">修改</a></li>
		<li><a href="#tabs-3">跟踪</a></li>
                <li><a href="#tabs-4">系统参数维护</a></li>
			</ul>
		<div id="tabs-1">
            		<iframe src="/cs/" width="98%" height="645px" border="0" frameborder="no"></iframe>
		</div>
		<div id="tabs-2">
                	<iframe src="/records/" width="98%" height="645px" border="0" frameborder="no"></iframe>
                </div>
		<div id="tabs-3">
            		<iframe src="/gz/" width="98%" height="645px" border="0" frameborder="no"></iframe>
            	</div>
            	<div id="tabs-4">
            		<iframe src="/wh/" width="98%" height="645px" border="0" frameborder="no"></iframe>
            	</div>
		</div>

		
<script type="text/javascript">

</script>
	</body>
</html>


