<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" href="/site_media/css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
        <link type="text/css" href="/site_media/css/demo_table.css" rel="stylesheet" />
        <link type="text/css" href="/site_media/css/demo_table_jui.css" rel="stylesheet" />	
        <link type="text/css" href="/site_media/css/ui.daterangepicker.css" rel="stylesheet" />
	<script type="text/javascript" src="/site_media/js/jquery.js"></script>
        <script type="text/javascript" src="/site_media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.13.custom.min.js"></script>
        <script type="text/javascript" src="/site_media/js/daterangepicker.jQuery.js"></script>
<script type="text/javascript">
function querry()
{
	/*$.get('/records/',{'start':$('#start').val(),'end':$('#end').val(),'page':'1'},
	function(data){
		$('#div2').html(data);
	});*/
	$('#if').attr('src','/records/?start='+$('#start').val()+'&end='+$('#end').val()+'&page=1');
}
$(document).ready(function(){
		$.datepicker.regional['zh-CN']={
			dateFormat:'yymmdd',
			monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']};
		$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
		$('#start').datepicker();
		$('#end').datepicker();
});

</script>
	</head>
	<body id='body1'>
		<div>起始日期:<input id='start' type='text'></input>&nbsp;&nbsp;结束日期:<input id='end' />
		<button onClick='querry();'>查询</button>
		</div>
		<iframe id='if' border="0" frameborder="no" width="99%" height="590px">
		</iframe>
		<br />
	</body>
</html>