<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="/site_media/js/jquery.js"></script>
		<script type="text/javascript">
		function change(o){
			if(o.value.indexOf('.csv')>-1){
				return true;
			}else
				{
					alert('文件格式不对');
					
				}
		}

		</script>
	</head>
	<body>

	<div>
		<form enctype='multipart/form-data' action='/wh/ftp/' method='post'>
			<input name='up' type='file' onchange="change(this)"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='submit' value='提交FTP' />
		</form>
		<br />
		<form enctype='multipart/form-data' action='/wh/rorac/' method='post'>
			收益率:<input name='rate'/>%
			<input type='submit' value='提交' />
		</form>
		<br />
		<form enctype='multipart/form-data' action='/wh/bb/' method='post'>
			<input name='bb' type='file' />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='submit' value='提交汇率' />
		</form>
	</div>

		
<script type="text/javascript">

</script>
	</body>
</html>
